[defaults]
inventory = inventory/dev.yml
host_key_checking = True
stdout_callback = yaml
# 不引入额外 collection：每个 collection 都是一条新的离线供给链
collections_path = ./collections
retry_files_enabled = False
interpreter_python = /usr/bin/python3

[privilege_escalation]
become = True
become_method = sudo
